@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
* {
    box-sizing: border-box;
    /* text-decoration: none; */
}

body {
    font-family:'Roboto', sans-serif;  
}

.link{
    text-decoration: none;
    font-size: 13.1px;
    color: rgb(85, 85, 85);
}

.link:hover{
    text-decoration: underline;
}

#headerLeft{
    padding-top: 11px;
    text-align:left;
}

#headerRight{
    padding-top: 3px;
    text-align: right;
}

#googleApp{
    position:relative;
    vertical-align: middle;
    
}

#googleAvatar{
    position:relative;
    vertical-align: middle;
}

.theform{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#form{
    position: relative;
    display: block;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 450px;
    height: 50px;
    border-radius: 50px;
    outline: none;
}

#searchBar{
    vertical-align: middle;
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 370px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
}

#googlemic{
    padding-top: 10px;
}

#searchGlass{
    padding-bottom: 4px;
    opacity: .5;
}


#form:hover{
    box-shadow: 0 0 2px .5px rgba(104, 104, 104, 0.5);
}


#mainSection{
    text-align: center;
    position: relative;
}

#googleSearch{
    opacity: .5;
    height: 30px;
    width: 115px;
    float: center;
    outline: none;
    border: none;
}

#googleSearch:hover{
    box-shadow: 0 0 20px 1px rgba(0, 140, 186, 0.5);
}

#randomizeButton{
    opacity: .5;
    height: 30px;
    width: 150px;
    float: center;
    outline: none;
    border: none;
}

#randomizeButton:hover{
    box-shadow: 0 0 10px 1px rgba(0, 140, 186, 0.5);
}
#footerRight{
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
    text-align:right;
    padding: 5px;
}
#footerLeft{
    position:absolute;
    left:0;
    bottom: 0;
    width:100%;
    text-align: left;
    padding: 5px;
}



#footerCenter{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
    padding: 5px;
}



/* td{
    position: relative;
}

td.left{
    position: absolute; 
    text-align: left; 
    left: 0;
}

td.right{
    position: absolute; 
    text-align: right; 
    right: 0;
} */