@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family:'Noto Sans JP', sans-serif;  
}
#link{
    text-decoration: none;
    font-size: small;
}
#headerLeft{
    float:left;
}

#headerRight{
    float:right;
}



#searchglass{
    float:left;
}


#searchBar{

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    height: 45px;
    border-radius: 50px;
    outline: none;
}

#searchBar:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


#mainSection{
    text-align: center;
    position: relative;
}

#googleSearch{
    opacity: .5;
    height: 30px;
    width: 115px;
    float: center;
}

#randomizeButton{
    opacity: .5;
    height: 30px;
    width: 150px;
    float: center;
}

#footerLeft{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    text-align: left;
}

#footerCenter{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
}

#footerRight{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    text-align: right;
}

.searchbar{ 
    width:325px;
    height: 35px;
    border-radius: 20px;
    border-color: #cfcfcf

}

td{
    position: relative;
}
td.left{
    position: absolute; 
    text-align: left; 
    left: 0;
}
td.right{
    position: absolute; 
    text-align: right; 
    right: 0;
}